[submodule "deps/diff-gaussian-rasterization"]
	path = deps/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
